<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>
<body>
    <div>
        <h1>Dojo Secrets</h1>
        <a href="/secrets">Home</a>
        <form action="/logout" method="post"><button type="submit">Logout</button></form>
        <hr>
    </div>
    <div>
        <h1>This is the secret: <%= secret.content %>  </h1>
    </div>
    <div>
        <form action="/secret/<%= secret._id %>" method="POST">
            <h4>Comment: <input type="text" name="comment"> <button type="submit">Submit</button></h4>
        </form>
    </div>
    <div>
        <% secret.comments.forEach(comment => { %>
         <p><%= comment.comment %> <% if (comment._user == user.user_id) { %> <form action="<%= comment._secret %>/comment/<%= comment._id %>" method="post"><button type="submit">Delete</button></form> <% } %> </p>
        <% }) %>
    </div>
</body>
</html>